# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
 - List common libraries for data science
 - Create a table that indicates three development environment open source tools used in data science
 - Listed a few examples of evaluating arithmetic expressions in Python
 - Wrote code to convert minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. ggplot2

|Data Science Tools|
| :--- |
|Jupyter|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python
 - 1 + 2
 - 3 * 4
 - 48 / 6
 - 20 - 10 10

In [42]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

### Author

Benjamin Boatright